* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.foto {
    padding: 2px;
    margin: 2px;
}
.lista {
    padding: 10px;
    margin: 10px;
}
.parrafo {
    padding: 10px;
    margin: 10px;
    
}
h2 {
    padding: 2px;
    margin-left: 10cm;
    color: red;
}
h1 {
    padding: 2px;
    margin-left: 10cm;
    color: blue;
    font-family: ;
}